body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1{
    color: aqua;
    padding-top: 55px;
}

#message-el{
    font-style: italic;
    margin-bottom: 30px;
}

button{
    color: black;
    background-color: aqua;
    width: 150px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 100px;
}

button:hover{
    cursor: pointer;
    
}